.thumb_small{
    background: #00254A;
}

.box_item{
    float: left;
    background-color: #EEEEEE;
    color: #000000;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.box_item:hover{
    background: #00759B;
    color: #FFFFFF;
}

.box_item span{
    font-weight: bold;
}

.main_header{
    position: relative;
    background-color: #003082;
    float: left;
}

.menu li, .menu a{
    float: left; 
    width: 100%;
}

.menu li a{
    text-decoration: none;
    letter-spacing: 0.1px;
    font-weight: bold;
    color: #FFFFFF;
}

.menu .menu_item a:hover{
    background: #FFFFFF;
    color: #000000;
}

.sub_menu_item{
    display: none;
    position: relative;
}

.sub_menu_item li,
.sub_menu_item a{
    width: 100%;
    float: left; 
}

.sub_menu_item li a{
    font-weight: normal;
}

.area_logo{
    text-align: center;
}

.area_logo h1{
    font-weight: bold;
    color: #FFFFFF;
}

.imagem_capa{
    width: 100%;
    height: 100%;
}

.main_footer{
    background: #007BD7;
    width: 100%;
    text-align: center; 
    border-top: 2px solid #007BD7;
}

.main_footer a{ 
    color: #fff; 
    font-variant: small-caps;
}

.main_footer a:hover{
    text-decoration: underline;
}

.title_crud{
    font-weight: bold;
    background-color: #003082;
    color: white;
}

.post_actions{
    text-align: right;
}

.label{
    display: block; 
}

.field{
    display: block; 
    font-weight: 600;
}

.btn{
    border: 3px solid #eee; 
    background: #fbfbfb; 
    text-transform: uppercase; 
    font-weight: bold;
    cursor: pointer; 
    color: #fff;
}

.blue{
    background: #069; 
    border-color: #053a8a
}

.blue:hover{
    background: #09f; 
    border-color: #069;
}

.green{
    background: #33752c; 
    border-color: #1f471a;
}

.green:hover{
    background: #4aaa40; 
    border-color: #398431;
}

.red{
    background: #FF6666; 
    border-color: #FF3333;
}

.red:hover{
    background: #FFBFBF; 
    border-color: #FF6666;
}

.gbform .gallery{
    display: block; 
    float:left;
}

.gbform .gallery li{
    float:left; 
    background: #fff; 
    position: relative;
}

.gbform .gallery li .del{
    position: absolute; 
    background: #900;
    text-transform: uppercase; 
    color: #fff; 
    font-size: 0; 
    background: url(../icons/logout.png) center center no-repeat; 
    background-size: 80%;
}

.gbform .gallery li .del:hover{
    background-color: red
}

.form_acesso_relatorio{
    background: #C1FCFF;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.botao_relatorio{
    text-align: center;
}

.msg_acesso_relatorio{
    background: #FFFFFF;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    color: #FF0000;
}

.form_acesso_relatorio input, 
.form_acesso_relatorio select, 
.form_acesso_relatorio textarea{
    width: 100%;
}

.form_acesso_relatorio .botao{
    width: auto; 
    cursor: pointer;
}

.inserir{
    text-align: center;
}

.ultable{
    display:block; 
    overflow: hidden; 
    background: #eee; 
    list-style: none; 
    padding: 0;
}

.ultable .t_title{
    background: #333; 
    color: #fff; 
    border-color: #333; 
}

.ultable .t_title span{
    border-color: #fff;
}

.ultable li{
    float: left; 
    display: block; 
    border: 1px solid #333; 
    border-top: none; 
}

.ultable li span{
    float: left;
    border-right: 1px solid #ccc;
}

.ultable li .center{
    text-align: center;
}

.ultable li .ed{
    border-right-color: rgba(255,255,255,0);
}

.user_cad{
    float: left; 
    text-transform: uppercase; 
    color: #fff;
    text-align: center;
    border: 3px solid #1f471a; 
    font-weight: bold;
    cursor: pointer;
}

.icon_blue{
    color: #053A8A;
}

.icon_blue:hover{
    color: #09F;
}

.icon_red{
    color: #FF3333;
}

.icon_red:hover{
    color: #FAA;
}

.label_line{
    float: left;
}

.label_medium{
    float: left; 
}

.center{
    text-align: center;
}

.direita{
    text-align: right;
}

.botoes_lista{
    float: left;
}

.botoes_lista input{
    font-weight: bold;
}

.lista_dados{
    float: left;
}

.paginator{
    background: #fff; 
    text-align: center
}

.paginator li{
    display: inline;
}

.paginator a, .paginator span{
    color: #000; 
    font-weight: 600;
}

.paginator a:hover{
    background: #09f; 
    color: #fff;
}

.paginator .active{
    background: #000; 
    color: #fff;
}

.grafico_princ{
    float: left;
    height: auto; 
}

.area{
    display: inline-block;
}

table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
    font-size: 1em;
}
